<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Consultations</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#" name="consultSecretTable" th:action="@{/consultationTable}" method="post">
    <table border="2">
        <thead>
        <tr>
            <th>Id</th>
            <th>Doctor_id</th>
            <th>Patient_id</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="consultationDto : ${consultationDtos}">
            <td th:text = "${consultationDto.id}"></td>
            <td th:text="${consultationDto.doctor_id}"></td>
            <td th:text="${consultationDto.patient_id}"></td>
            <td th:text="${consultationDto.date}"></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>