<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patients</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>All patients</h1>
<form action="#" name="patientTable" th:action="@{/patientTable}" method="post">
    <table border="2">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Cnp</th>
            <th>Birthdate</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patientDto : ${patientDtos}">
            <td th:text = "${patientDto.id}"></td>
            <td th:text="${patientDto.name}"></td>
            <td th:text="${patientDto.cnp}"></td>
            <td th:text="${patientDto.birthdate}"></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>