<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patients' Consultations</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/appDoc.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body onload="connect()">
<div th:action="@{'/doctor/patientDocTable'}" method="post">
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>CNP</th>
        <th>Birthdate</th>
    </tr>

    <th:block th:each="patientDto : ${patientDtos}">
        <tr>
            <td th:text="${patientDto.id}"></td>
            <td th:text="${patientDto.name}"></td>
            <td th:text="${patientDto.cnp}"></td>
            <td th:text="${patientDto.birthdate}"></td>
            <td>
                <a th:href ="@{'/consultDocTable/' + ${patientDto.id}}">See consultations</a>
            </td>
        </tr>
    </th:block>

    </thead>
    <tbody>
    </tbody>
</table>
<hr />
</div>


<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>New Appointments</th>
                </tr>
                </thead>
                <tbody id="appointments">
                </tbody>
            </table>
        </div>
    </div>
    </form>
</div>
</body>
</html>